.overlay-black {
  height: 100%;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-black h1 {
  color: white;
  font-size: 45px;
  font-weight: 700;
}

.los-hero-main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("https://res.cloudinary.com/dd9tagtiw/image/upload/v1762342170/Los_Angels_wzs4fc.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 350px;
  width: 100%;
  max-width: 1720px;
  margin: 0 auto;
}
